@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merienda&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.hide-scroll-bar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow: -moz-scrollbars-none; /* Firefox */
  }
  
  .hide-scroll-bar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }